[*.{cs,vb}]

# IDE0048: Add parentheses for clarity
dotnet_style_parentheses_in_arithmetic_binary_operators = never_if_unnecessary

# IDE0011: Add braces
csharp_prefer_braces = when_multiline

# IDE1006: Naming Styles
dotnet_diagnostic.IDE1006.severity = silent
